<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SportsDataAccess.Properties.Settings.SportsConnectionString"
            connectionString="Data Source=CSG-028636\SQL2K14EXPRESS;Initial Catalog=Sports;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>